extends layout

block content
	h1.
		User List
	ul
		each user, i in userlist
			li
				a(href="mailto:#{user.email}")= user.username 
				t  User ID: #{user._id}
	button(type="button" onClick="location.href='/newuser'") Add New User
